POMS_Server/target/*
POMS_Client/target/*
.idea/workspace.xml
POMS_Client/.idea/workspace.xml
POMS_Server/.idea/workspace.xml
POMS_Client/.idea/workspace.xml
POMS_Server/.idea/workspace.xml
POMS_Client/.idea/workspace.xml
POMS_Client/.idea/workspace.xml
POMS_Client/target/classes/dk/via/App.class
POMS_Client/target/classes/dk/via/mediator/ChatClient.class
POMS_Client/target/classes/dk/via/mediator/ServerModel.class
POMS_Client/target/classes/dk/via/model/ChatModel.class
POMS_Client/target/classes/dk/via/model/Model.class
POMS_Client/target/classes/dk/via/view/ChatView.class
POMS_Client/target/classes/dk/via/view/LoginView.class
POMS_Client/target/classes/dk/via/view/ViewHandler.class
POMS_Client/target/classes/dk/via/viewmodel/ChatViewModel.class
POMS_Client/target/classes/dk/via/viewmodel/LoginViewModel.class
POMS_Client/target/classes/dk/via/viewmodel/ViewModelFactory.class
POMS_Client/target/classes/module-info.class
POMS_Server/target/classes/ClientHandler.class
POMS_Server/.idea/workspace.xml
POMS_Client/.idea/workspace.xml
UML/uml.asta.lock
POMS_Server/.idea/workspace.xml
POMS_Client/.idea/workspace.xml
POMS_Client/.idea/workspace.xml
POMS_Server/.idea/workspace.xml
UML/uml.asta.lock
